*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.top{
    height: 20vh;
    width: 100%;
    background-image: url(one\ piece\ background\ img.jpg), linear-gradient(#0e9bb4e7, #37cad4d2);
    background-position: 50px;
    background-repeat: inherit;
    background-size: 250vh, 50px;
    background-blend-mode: darken;
}

.title{
    height: 15vh;
    width: 40vh;
    position: absolute;
    top: 2.5vh;
    left: 2.5vh;
}

.nav{
    display: flex;
    position: absolute;
    right: 7%;
    color: white;
    align-items: center;
    top: 8%;
    list-style-type: none;
}

.nav li{
    padding-bottom: 10px;
}

.nav a{
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    border-bottom: transparent;
}

.nav a:hover{
    margin: 10px;
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
    border-bottom: solid, blue, 10px;
}

.body{
    font-size: 35px;
    text-align: center;
    margin: 5vh;
    
}

