*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.top{
    height: 20vh;
    width: 100%;
    background-image: url(one\ piece\ background\ img.jpg), linear-gradient(#0e9bb4e7, #37cad4d2);
    background-position: 50px;
    background-repeat: inherit;
    background-size: 250vh, 50px;
    background-blend-mode: darken;
}

.top img{
    height: 15vh;
    width: 40vh;
    position: absolute;
    top: 2.5vh;
    left: 2.5vh;
}

.nav{
    display: flex;
    position: absolute;
    right: 7%;
    color: white;
    align-items: center;
    top: 8%;
    list-style-type: none;
}

.nav li{
    padding-bottom: 10px;
}

.nav a{
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.nav a:hover{
    margin: 10px;
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
    text-decoration: underline;
    text-decoration-color: blue;
    text-underline-offset: 10px;
    transition: 0.3s;
}

.body{
    text-align: center;
    margin: 5vh;
}

.title{
    font-size: 35px;
    text-decoration: underline;
    text-decoration-color: blue;
    text-underline-offset: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
}

.body img{
    width: 50%;
    height: 50vh;
    margin: 40px;
}

.content{
    margin: 20px;
}

.links{
    margin: 10%;
    font-size: 35px;
}

.videos{
    list-style-type: none;
    display: flex;
}

.videos li{
    margin: 10%;
}